:root {
   --color-primary-iris: rgba(77, 90, 229, 1); /* #4D5AE5 */
   --color-pressed-ocean: rgba(64, 75, 191, 1); /* #404BBF */
   --color-dark-navyblue: rgba(46, 47, 66, 1);     /* #2E2F42 */
   --color-success-green: rgba(49, 208, 170, 1); /* #31D0AA */
   --color-text-slate: rgba(67, 68, 85, 1);   /* #434455 */
   --color-text-lightslate: rgba(142, 143, 153, 1); /* #8E8F99 */
   --color-accent-cornflower: rgba(231, 233, 252, 1); /* #E7E9FC */
   --color-light-cloud: rgba(244, 244, 253, 1);       /* #F4F4FD */
   --color-white: rgba(255, 255, 255, 1); /* #FFFFFF */
   --color-modal-dairy: rgba(252, 252, 252, 1); /* #FCFCFC */
   --color-hero-grey: rgba(46, 47, 66, 0.7);
   --color-modal-navyblue: rgba(46, 47, 66, 0.4);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    color: var(--color-text-slate);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul,
ol {
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    cursor: pointer;
    font-family: inherit;
}

.list {
    list-style: none;
}

.section {
    padding: 96px 0;
}
@media (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.container {
    width: 100%;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    padding: 0 16px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* LOGO */

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary-iris);
}
@media (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}
@media (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.logo-footer {
    display: block;
    text-align: center;
    margin: 0 auto 16px;
}
@media (min-width: 768px) {
    .logo-footer {
        display: inline-block;
    }
}

.logo-studio-header {
    color: var(--color-dark-navyblue);
}

.logo-studio-footer {
    color: var(--color-light-cloud);
}

/* HEADER */

.header {
    border-bottom: 1px solid var(--color-accent-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}
@media (min-width: 768px) {
    .nav-list {
            display: flex;
            gap: 40px;
        }
}

.nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-pressed-ocean);
}

.nav-current {
    color: var(--color-pressed-ocean);
}

.nav-current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--color-pressed-ocean);
    border-radius: 2px;
}

.header-contacts {
    display: none;
}
@media (min-width: 768px) {
    .header-contacts {
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
}
@media (min-width: 1158px) {
    .header-contacts {
        flex-direction: row;
        gap: 40px;
    }
}

.header-contact {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1158px) {
    .header-contact {
            font-size: 16px;
            line-height: 1.5;
        }
}


.header-contact:hover, .header-contact:focus {
    color: var(--color-pressed-ocean);
}

/* MOBILE MENU  */

.open-menu {
    fill: var(--color-dark-navyblue);
    border: none;
    background-color: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu:hover, .open-menu:focus {
    fill: var(--color-pressed-ocean);
}

@media (min-width: 768px) {
    .open-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* для старих браузерів */
    height: 100vh; /* для старих браузерів */
    width: 100dvw;
    height: 100dvh;
    padding: 80px 40px 40px 40px;
    background-color: var(--color-white);
    z-index: 99;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu.is-open {
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 768px) {
    .open-menu {
        display: none;
    }
}

.mobile-menu-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-accent);
    transition:
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover, .mobile-menu-close-button:focus {
    fill: var(--color-white);
    border-color: var(--color-pressed-ocean);
    background-color: var(--color-pressed-ocean);
}

@media (max-height: 400px) and (min-width: 350px) {
    .mobile-menu-nav {
        display: flex;
        gap: 5px;
    }
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-dark-navyblue);
    display: block;
    margin-bottom: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-height: 530px) {
        margin-bottom: 8px;
        font-size: 5.5vh;
    }
}
.mobile-menu-link-current {
    color: var(--color-primary-iris);
}

.mobile-menu-link:hover, .mobile-menu-link:focus {
    color: var(--color-primary-iris);
}


@media (max-height: 530px) {
    /* для кращого відображення на різних дисплеях */
    .mobile-menu-link {
        margin-bottom: 8px;
        font-size: 5.5vh;
    }
}

.mobile-menu-tel {
    display: block;
    font-weight: 600;
    font-size: min(7.9vw, 36px);
    line-height: 1.11;
    color: var(--color-primary-iris);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
}

.mobile-menu-tel:hover, .mobile-menu-tel:focus {
    color: var(--color-primary-iris);
}

.mobile-menu-mail {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}

.mobile-menu-mail:hover,
.mobile-menu-mail:focus {
    color: var(--color-primary-iris);
}

.mobile-menu-icongroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 328px;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-iris);
    color: var(--color-light-cloud);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
    background-color: var(--color-pressed-ocean);
}

.icon-svg {
    fill: currentColor;
}

/* FOOTER */

.footer {
    background-color: var(--color-dark-navyblue);
    padding: 96px 0;
}
@media (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media (min-width: 768px) {
    .footer-container {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
        }
}
@media (min-width: 768px) and (max-width: 1158px) {
    .footer-container {
        width: 584px;
    }
}

.footer-info {
    margin: 0 auto 72px;
    max-width: 264px;
}
@media (min-width: 768px) {
    .footer-info {
        margin-left: 0;
        margin-right: 24px;
    }
}
@media (min-width: 1158px) {
    .footer-info {
            margin-bottom: 0;
            margin-right: 120px;
        }
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light-cloud);
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}
@media (min-width: 768px) {
    .footer-title {
            text-align: left;
        }
}

.footer-socials {
    margin-bottom: 72px;
}
@media (min-width: 1158px) {
    .footer-socials {
        margin-bottom: 0;
    }
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
@media (min-width: 768px) {
    .footer-socials-list {
        justify-content: flex-start;
    }
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-iris);
    border-radius: 50%;
    color: var(--color-light-cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--color-success-green);
}

.footer-socials-icon {
    fill: currentColor;
}

@media (min-width: 1158px) {
    .footer-subscribe {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .footer-subscribe-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 24px;
            flex-wrap: wrap;
        }
}

.subscribe-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media (min-width: 768px) {
    .subscribe-input {
            width: 264px;
            margin-bottom: 0;
        }
}

.subscribe-input:focus {
    border-color: var(--color-primary-iris);
}

/* 
.subscribe-input:not(:placeholder-shown):invalid {
    border-color: rgba(255, 85, 85, 0.5);
}

.subscribe-input:not(:placeholder-shown):valid {
    border-color: var(--color-success-green);
}  
*/

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    color: var(--color-white);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus::placeholder {
    opacity: 0;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;

    background-color: var(--color-primary-iris);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;
}
@media (min-width: 768px) {
    .subscribe-button {
        margin: 0;
    }
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--color-success-green);
}

.subscribe-button-icon {
    margin-left: 16px;
}

/* HERO - SECTION 1 */

.hero {
    background-color: var(--color-dark-navyblue);
    padding: 112px 0;
    max-width: 428px;
    margin: 0 auto;
    background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/hero-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
        .hero {
            background-image:
                    linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)),
                    url('../images/studio/hero-mobile@2x.jpg');
        }
}
@media (min-width: 768px) {
    .hero {
            max-width: 768px;
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/studio/hero-tablet.jpg');
        }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/hero-tablet@2x.jpg');
    }
}
@media (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/hero.jpg');
    }
}
@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 192dpi),
(min-width: 1158px) and (min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/hero@2x.jpg');
    }
}

.hero-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);

    max-width: 320px;
    margin: 0 auto 72px;
}
@media (min-width: 768px) {
    .hero-title {
            max-width: 496px;
            font-size: 56px;
            margin-bottom: 36px;
        }
}
@media (min-width: 768px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--color-primary-iris);
    color: var(--color-white);

    min-width: 169px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--color-pressed-ocean);
}

/* PRINCIPLES - SECTION 2 */

.principles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

.principles-card {
    width: 100%;
}
@media (min-width: 768px) {
    .principles-card {
            width: calc((100% - 24px) / 2);
        }
}
@media (min-width: 1158px) {
    .principles-card {
            width: calc((100% - 72px) / 4);
        }
}

.principles-pic {
    display: none;
}
@media (min-width: 1158px) {
    .principles-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 264px;
            height: 112px;
            background-color: var(--color-light-cloud);
            border-radius: 4px;
            margin-bottom: 8px;
        }
}

.principles-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .principles-title {
        text-align: left;
    }
}
@media (min-width: 1158px) {
    .principles-title {
            font-weight: 500;
            font-size: 20px;
        }
}

.principles-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
@media (min-width: 1158px) {
    .principles-text {
            font-weight: 400;
        }
}

/* JOBS - SECTION 3 */

.job {
    display: none;
}
@media (min-width: 1158px) {
    .job {
        display: block;
        padding-top: 0px;
    }
}

.job-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark-navyblue);

    margin-bottom: 72px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.job-link {
    display: block;
}

/* TEAM - SECTION 4 */

.team {
    background-color: var(--color-light-cloud);
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark-navyblue);

    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
}
@media (min-width: 768px) {
    .team-list {
            row-gap: 64px;
        }
}

.team-card {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.team-socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-iris);
    color: var(--color-light-cloud);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--color-pressed-ocean);
}

.team-socials-icon {
    fill: currentColor;
}

/* CUSTOMERS - SECTION 5 */

@media (min-width: 768px) and (max-width: 1158px) {
    .customers-container {
        width: 584px;
    }
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--color-dark-navyblue);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px
}
@media (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}
@media (min-width: 768px) {
    .customers-item {
        width: calc((100% - 48px) / 3);
    }
}
@media (min-width: 1158px) {
    .customers-item {
        width: calc((100% - 120px) / 6);
    }
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-text-lightslate);
    border-radius: 4px;
    color: var(--color-text-lightslate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--color-pressed-ocean);
    color: var(--color-pressed-ocean);
}

.customers-icon {
    fill: currentColor;
}

/* PORTFOLIO CONTENT */

.examples {
    padding-top: 48px;
    padding-bottom: 48px;
}
@media (min-width: 768px) {
    .examples {
            padding-top: 64px;
            padding-bottom: 96px;
        }
}
@media (min-width: 1158px) {
    .examples {
        padding-top: 96px;
        padding-bottom: 120px;
    }
}

.examples-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 48px 24px;
}
@media (min-width: 768px) and (max-width: 1158px) {
    .examples-list {
        gap: 72px 24px;
    }
}

@media (min-width: 768px) and (max-width: 1158px) {
    .examples-card {
        width: calc((100% - 24px) / 2);
    }
}
@media (min-width: 768px) and (max-width: 1158px) {
    .examples-wrapper {
        max-width: 100%;
    }
}

.examples-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover, .examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-wrapper {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.examples-description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--color-primary-iris);
    color: var(--color-light-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-description, .examples-link:focus .examples-description {
    transform: translateY(0%);
}

.examples-text {
    padding: 32px 16px;
    border: 1px solid var(--color-accent-cornflower);
    border-top: none;
}

.examples-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);

    margin-bottom: 8px;
}

.examples-filter {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* PORTFOLIO FILTER */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 48px;
}
@media (min-width: 768px) {
    .filter-list {
            margin-bottom: 64px;
        }
}
@media (min-width: 1158px) {
    .filter-list {
        margin-bottom: 72px;
    }
}


.filter-button {
    background-color: var(--color-light-cloud);
    border: 1px solid var(--color-accent-cornflower);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-primary-iris);

    padding: 12px 24px;

    transition:
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
    background-color: var(--color-pressed-ocean);
    color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: not-allowed;
    background-color: var(--color-modal-navyblue);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    width: calc(100% - 16px);
    max-width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--color-modal-dairy);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px;
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-accent-cornflower);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    border: none;
    fill: var(--color-white);
    background-color: var(--color-pressed-ocean);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal-window {
    transform: translate(-50%, -150%);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
    margin-bottom: 16px;
}

.contact-form-wrapper {
    position: relative;
    fill: var(--color-dark-navyblue);
    margin-bottom: 8px;
}

.contact-form-wrapper:focus-within {
    fill: var(--color-primary-iris);
}

/* 
.contact-form-input:not(:placeholder-shown):required:invalid {
    border-color: rgba(255, 85, 85, 0.5);
}

.contact-form-input:not(:placeholder-shown):valid {
    border-color: var(--color-success-green);
} 
*/

.contact-form-input-icon-box {
    position: relative;
}

.contact-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-lightslate);
    margin-bottom: 4px;
}

.contact-form-input {
    border: 1px solid var(--color-modal-navyblue);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 16px 11px 38px;
    background-color: transparent;
    color: var(--color-dark-navyblue);
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--color-primary-iris);
    color: var(--color-primary-iris);
}

.contact-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-wrapper-comment {
    margin-bottom: 16px;
}

.contact-form-input-comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    color: var(--color-modal-navyblue);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    color: var(--color-modal-navyblue);
}

.contact-form-input-comment:focus::placeholder {
    color: var(--color-primary-iris);
}

.contact-form-wrapper-terms {
    margin-bottom: 24px;
}

.contact-form-label-terms {
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-text-lightslate);
    letter-spacing: 0.04em;
}

.contact-form-label-terms-icon {
    fill: var(--color-light-cloud);

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-terms:checked+.contact-form-label-terms .contact-form-label-terms-icon {
    opacity: 1;
}

.contact-form-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-modal-navyblue);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-terms:checked+.contact-form-label-terms>.contact-form-custom-checkbox {
    border: none;
    background-color: var(--color-pressed-ocean);
    fill: var(--color-light-cloud);
}

.contact-form-input-terms:focus+.contact-form-label-terms>.contact-form-custom-checkbox {
    border-color: var(--color-primary-iris);
}

.contact-form-label-terms-link {
    color: var(--color-primary-iris);
    text-decoration: underline;
}

.contact-form-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px;
    letter-spacing: 0.04em;

    background-color: var(--color-primary-iris);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover,
.contact-form-button:focus {
    background-color: var(--color-pressed-ocean);
}

/* HELPERS */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}